:root {
    --font-dark: #000000;
    --font-light: #00000060;
    --font-lighter: #00000040;
    --font-sale: #FF3333;
    --background-main: #FFFFFF;
    --background-secondary: #F2F0F1;
    --background-sale: #ff333310;
}