:root {
    --system-font-stack: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-dark: #000000;
    --font-light: #00000080;
    --font-lighter: #00000060;
    --font-sale: #FF3333;
    --background-main: #FFFFFF;
    --background-secondary: #F2F0F1;
    --background-sale: #ff333310;
}


/* HEADER */

.signup-prompt {
    position: relative;
    color: var(--background-main);
    background-color: var(--font-dark);
    font-family: "Satoshi-Regular", var(--system-font-stack);
    text-align: center;
    padding: 10px;
    font-size: 12px;
    a {
        color: var(--background-main);
        text-decoration-color: var(--background-main);
    }
    button {
        display: none;
    };
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    h1 {
        font-family: "Integral-CF", var(--system-font-stack);
        font-size: 25.2px;
    }
    button {
        background-color: transparent;
        border: none;
    } 
    img {
        width: 25px;
    }
    ul {
        display: none;
    }
}

.hero {
    background-color: var(--background-secondary);
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px;
    h2 {
        font-size: 36px;
        font-family: "Integral-CF", var(--system-font-stack);
    }
    p {
        font-family: "Satoshi-Regular", var(--system-font-stack);
        color: var(--font-light);
        font-size: 14px;
        line-height: 1.2;
    }
    button {
        font-family: "Satoshi-Regular", var(--system-font-stack);
        color: var(--background-main);
        font-size: 16px;
        background-color: var(--font-dark);
        border: none;
        border-radius: 62px;
        padding: 15px;
    }
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 12px;
    font-family: "Satoshi-Regular", var(--system-font-stack);
    text-align: center;
    span:first-of-type {
        font-size: 24px;
        font-family: "Satoshi-Bold", var(--system-font-stack);
    }
    span:last-of-type {
        font-size: 12px;
        color: var(--font-light);
    }
    li:first-child {
        border-right: 1px solid #00000020;
    }
    li:last-child {
        grid-column: 1 / 3;
    }
}

.hero-img {
    width: 100%;
    img {
        width: 100%;
        display: block;
    }
}

.brand-logos {
    padding: 40px 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 34px;
    background-color: var(--font-dark);
    a {
        height: 24px;
    }
    img {
        height: 100%;
    }
}


/* MAIN */

main {
    section, 
    .newsletter {
        margin: 50px 16px;
    }
    section:first-of-type {
        border-bottom: 1px solid #00000020;
    } 
}

.item-section h2 {
    text-align: center;
    margin-bottom: 32px;
}

h2 {
    font-family: "Integral-CF", var(--system-font-stack);
    font-size: 32px;
}

.items-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 200px;
    gap: 10px;
    margin-bottom: 24px;
    padding-bottom: 10px;
    overflow-x: auto;
    li {
        overflow: hidden;
    }
}

.items-container>p {
    font-size: 20px;
    text-align: center;
    font-family: "Satoshi-Regular", var(--system-font-stack);
    grid-column: 1 / -1;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-family: "Satoshi-Bold", var(--system-font-stack);
}

.item-img {
    box-sizing: border-box;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: var(--background-secondary);
    border-radius: 14px;
    img {
        mix-blend-mode: darken;
        width: 100%;
        object-fit: contain;
        aspect-ratio: 1/1;
    }
}

.item-name {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-rating {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-family: "Satoshi-Regular", var(--system-font-stack);
    span:last-child {
        color: var(--font-light);
    }
    div {
        margin-right: 10px;
    }
}

.stars {
    height: 15px;
    img {
        height: 100%;
    }
}

.item-price {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    span:nth-child(2) {
        color: var(--font-lighter);
        text-decoration: line-through;
    }
    span:nth-child(3) {
        color: var(--font-sale);
        font-size: 10px;
        background-color: var(--background-sale);
        border-radius: 62px;
        padding: 5px;
    }
}

.item-section button {
    background-color: transparent;
    border: 1px solid #00000020;
    border-radius: 62px;
    font-family: "Satoshi-Regular", var(--system-font-stack);
    font-size: 14px;
    width: 100%;
    padding: 16px;
    margin-bottom: 40px;
}

.styles {
    background-color: var(--background-secondary);
    border-radius: 20px;
    padding: 40px 24px;
    h2 {
        text-align: center;
        margin-bottom: 32px;
    }
    ul {
        display: grid;
        gap: 16px;
    }
    a {
        display: block;
        height: 190px;
        text-decoration: none;
        position: relative;
        
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    div {
        font-family: "Satoshi-Bold", var(--system-font-stack);
        color: var(--font-dark);
        font-size: 24px;
        position: absolute;
        z-index: 1;
        top: 20px;
        left: 20px;
    }
}

.user-reviews {
    &>div:first-child {
        margin-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        div {
            display: flex;
            gap: 16px;
        }
        button {
            background-color: transparent;
            border: none;
        }
    }
   
}

.user-review:not(:first-of-type) {
    display: none;
}

.user-review {
    padding: 24px;
    border: 1px solid #00000020;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    .stars {
        height: 20px;
    } 
    div:last-of-type {
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: "Satoshi-Bold", var(--system-font-stack);
        font-size: 16px;
        img {
            width: 19px;
        }
    }
    p {
        font-family: "Satoshi-Regular", var(--system-font-stack);
        color: var(--font-light);
        line-height: 1.2;
        font-size: 14px;
    }
}

.newsletter-wrapper {
    margin: 0;
    position: relative;
}

.newsletter {
    padding: 32px 24px;
    border-radius: 20px;
    background-color: var(--font-dark);
    h2 {
        color: var(--background-main);
        margin-bottom: 32px;
    }
    button, input {
        font-family: "Satoshi-Regular", var(--system-font-stack);
        font-size: 14px;
        width: 100%;
        border-radius: 62px;
        border: 0;
    }
    input {
        margin-bottom: 12px;
        padding: 12px 12px 12px 40px;
        box-sizing: border-box;
        background-image: url(../assets/images/icons/mail.svg);
        background-position: left 10px top 50%;
        background-repeat: no-repeat;
    }
    button {
        background-color: var(--background-main);
        color: var(--font-dark);
        padding: 12px 16px;
    }
}

.footer-background {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-secondary);
}


/* FOOTER */

footer {
    padding: 0 18px 40px 18px;
    background-color: var(--background-secondary);
    font-family: "Satoshi-Regular", var(--system-font-stack);
}

.footer-info {
    margin-bottom: 40px;
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    &>div:first-child {
        grid-column: 1 / 3;
        h2 {
            margin-bottom: 14px;
        }
        p {
            margin-bottom: 20px;
            font-size: 14px;
            color: var(--font-light);
            line-height: 1.2;
        }
    }
    h3 {
        letter-spacing: 3px;
        margin-bottom: 16px;
    }
    &>div:not(:first-child) {
        ul {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
    a {
        text-decoration: none;
        color: var(--font-light);
        font-size: 14px;
    }
}

.footer-links {
    display: flex;
    gap: 12px;
    a {
        width: 28px;
    }
    img {
        width: 100%;
    }
}

.payment-section {
    border-top: 1px solid #00000020;
    padding: 16px;
    p {
        font-size: 14px;
        color: var(--font-light);
        text-align: center;
        margin-bottom: 16px;
    }
    ul {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    div {
        background-color: var(--background-main);
        border-radius: 5px;
        width: 40px;
        height: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (min-width: 1000px) {
    /* HEADER */
    .signup-prompt {
        button {
            background-color: transparent;
            border: none;
            position: absolute;
            display: block;
            right: 100px;
            top: 0;
            bottom: 0;
            margin: auto 0;
            width: 20px;
        }
        img {
            width: 100%;
        }
    }

    nav {
        padding: 24px 100px;
        gap: 40px;
        h1 {
            font-size: 32px;
        }
        &>button:last-child {
            display: none;
        }
        ul {
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 24px;
            font-size: 16px;
            font-family: "Satoshi-Regular", var(--system-font-stack);
        }
        li:first-child img {
            height: 8px;
        }
        li:last-child img {
            width: 24px;
            margin-right: 14px;
        }
        a {
            text-decoration: none;
            color: var(--font-dark);
        }
    }

    .search {
        flex: 1;
        position: relative;
        input {
            width: 100%;
            padding: 12px 12px 12px 52px;
            background-color: var(--background-secondary);
            border: none;
            border-radius: 62px;
            font-size: 16px;
            font-family: "Satoshi-Regular", var(--system-font-stack);
        }
        input:focus {
            outline: 2px solid var(--font-lighter);
        }
        button {
            position: absolute;
            left: 10px;
            top: 0;
            bottom: 0;
            margin: auto 0;
        }
    }

    .hero {
        height: 70vh;
        display: flex;
        gap: 20px;
        align-items: center;
        padding-left: 100px;
    }

    .hero-info {
        flex: 1;
        align-items: flex-start;
        gap: 30px;
        padding: 20px 0;
        h2 {
            font-size: 64px;
            font-family: "Alfa Slab One", var(--system-font-stack);
        }
        p {
            font-size: 16px;
        }
        button {
            width: 33%;
        }
    }

    .stats {
        margin-top: 18px;
        grid-template-columns: repeat(3, 1fr);
        li {
            padding: 0 32px;
        }
        li:first-child {
            padding-left: 0;
        }
        li:nth-child(2) {
            border-right: 1px solid #00000020;
        }
        li:last-child {
            padding-right: 0;
            grid-column: auto;
        }
        span:first-of-type {
            font-size: 40px;
        }
        span:last-of-type {
            font-size: 16px;
        }
    }

    .hero-img {
        flex: 1;
        height: 100%;
        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .brand-logos {
        height: 120px;
        padding: 0 20px;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        a {
            height: 32px;
        }
        a:first-child, a:last-child {
            align-self: start;
        }
    }

    /* MAIN */

    main {
        section,
        .newsletter {
            margin: 68px 8%;
        }
        section:first-of-type {
            border-bottom: none;
        } 
    }

    .item-section:nth-of-type(1) {
        h2 {
            font-family: "Alfa Slab One", var(--system-font-stack);
            font-size: 48px;
            margin-bottom: 48px;
        }
    }

    .items-container {
        overflow: visible;
        grid-auto-flow: row;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 68px;
        column-gap: 20px;
        justify-content: center;
    }

    .item {
        gap: 8px;
    }

    .item-img {
        border-radius: 20px;
        max-width: none;
        margin-bottom: 16px;
    }

    .item-name {
        font-size: 20px;
    }

    .item-rating {
        font-size: 14px;
    }

    .stars {
        height: 18px;
    }

    .item-price {
        font-size: 24px;
        span:nth-child(3) {
            font-size: 12px;
            padding: 6px 13px;
        }
    }

    .item-section:nth-of-type(2) {
        display: none;
    }

    .item-section button {
        display: none;
    }

    .styles {
        padding: 76px 64px;
        h2 {
            margin-bottom: 64px;
            font-size: 48px;
        }
        ul {
            grid-template-columns: 1fr 1fr 1fr;
        }
        li:nth-of-type(2) {
            grid-column: 2 / 4;
        }
        li:nth-of-type(3) {
            grid-column: 1 / 3;
        }
        a {
            height: 290px;
        }
    }

    .user-reviews {
        &>div:first-child {
            position: relative;
            margin-bottom: 110px;
            div {
                position: absolute;
                right: 0;
                top: 80px;
            }
        }
        ul {
            display: flex;
            gap: 20px;
            li.user-review {
                display: flex;
            }
        }
    }

    .user-review {
        padding: 28px 32px;
        gap: 12px;
        div:last-of-type {
            font-size: 20px;
            img {
                width: 24px;
            }
        }
        p {
            font-size: 16px;
        }
    }

    .newsletter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 36px 64px;
        h2 {
            font-size: 40px;
            max-width: 50%;
            margin-bottom: 0;
        }
        div:not(:first-of-type) {
            max-width: 400px;
        }
        button, input {
            font-size: 16px;
        }
        input {
            margin-bottom: 14px;
        }
    }


    /* FOOTER */

    footer {
        padding: 0;
        padding-bottom: 100px;
        section {
            margin-left: 8%;
            margin-right: 8%;
        }
    }

    .footer-info {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        grid-template-columns: none;
        justify-items: center;
        margin-bottom: 50px;
        &>div:first-child {
            grid-column: auto;
            h2 {
                font-size: 34px;
                margin-bottom: 25px;
            }
            p {
                margin-bottom: 35px;
            }
        }
        h3 {
            margin-bottom: 26px;
        }
        &>div:not(:first-child) {
            ul {
                gap: 20px;
            }
        }
        a {
            font-size: 16px;
        }
    }

    .payment-section {
        padding: 25px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        ul {
            gap: 12px;
        }
        div {
            width: 48px;
            height: 30px;

        }    
    } 
}
